<!DOCTYPE html>
<html lang="eng" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" >

<title>Employee update form</title>
</head>


<body>
<h1>Under Construct</h1>
<!--  
 <div class="container">
 <h1>Employee Directory</h1>
 <hr>
 	<h2>Update Employee</h2>
 	<hr>
	<form action="#" th:action="@{/save}" 
	method="post" th:object="${employee}">
	
		<input type="hidden" th:field="*{id}" /> 
	    <input type="hidden" th:field="*{password}" /> 
	    <input type="hidden" th:field="*{username}" />  
	
		<input type="text" th:field="*{firstName}" placeholder="First Name" 
		 class="form-control mb-4 col-4"/>
		 
		<input type="text" th:field="*{lastName}" placeholder="Last Name"
		 class="form-control mb-4 col-4"/>
		 
		<input type="text" th:field="*{email}" placeholder="Email" 
		class="form-control mb-4 col-4"/>
	
		 <button type="submit" class="btn btn-info col-2">Save</button>  
	</form>
	<hr>
	 <a th:href="@{/}">
		Back to home
	 </a>
 </div>
 -->
</body>
</html>